<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag 'application', media: 'screen' %>
	<%= javascript_include_tag 'application' %>

	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="Vey2AcN92WhAXmZ3SAcgJ3k3xFelrafnYim0Bh4xeYA">
	<%= render 'layouts/shim' %>
	<!-- <script src="https://jwpsrv.com/library/0Z+OYJqDEeSP7gp+lcGdIw.js"></script>script> -->
	<script src="https://content.jwplatform.com/libraries/ZesOZ3ap.js"></script>
	<%= favicon_link_tag asset_path('sonar_favicon.jpg') %>
</head>
<body class = "small" data-twrr-rendered = "true">

	<%= render 'layouts/header' %>
	<%= yield %>
	<%# <%= debug(params) if Rails.env.development? %>
	<%= render 'layouts/footer' %>

</body>
</html>